<!doctype html>
<script src="scripts/vue.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
<link href="styles/main.css" rel="stylesheet">

<div id="app" class="mainPopup">
	<div id="noDataInformation">
		<h1 style="font-weight: 400; font-size: 25px;">Shopify store value calculator</h1>
		<div class="divider"></div>
		<h6 style="font-weight: 300; font-size: 12px; color: #333; margin-bottom: 40px;">Find out the value of all products of your Shopify store.</h6>
		<p>To begin, go to https://<span style="font-weight: 600">YOURSTORE</span>.myshopify.com/admin/products.json. Or, go to <span style="font-weight: 600" id="linkForExample">http://shopicruit.myshopify.com/products.json?page=1</span> for an example.</p>
	</div>
	<div id="hideOnNoData">
		<h1 class="totalAmount"> <span>$</span>{{ total }} </h1>
		<h6 class="totalHeader">Total value of products <span v-if="hasFilter">with applied filters</span> at <span class="emphasis">{{ storeName }}</span><span v-if="calcTax === true || calcTax === 'true'" > with taxes<span></h6>
		<div class="statsContainer">
			<div class="statsElement">
				<h4>{{ numberVariants }}</h4>
				<p> Total Variants Selected</p>
			</div>
			<div class="statsElement">
				<h4><span style="font-size: 16px">$</span>{{ numberTypes }}</h4>
				<p>Average price per variant</p>
			</div>
			<div class="statsElement">
				<h4>{{ numberProducts }}</h4>
				<p> Total Products Selected</p>
			</div>
		</div>
		
		<div class="filterContainer">
			<div class="filterContainerSection">
				<input
					class="filterInput"
					type="text"
					placeholder="Filter by tag"
					v-model="tagFilter"
				>
				</input>
				<div id="tagsList" class="filterListUL">
					<div
						v-for="tag in tags | filterBy tagFilter"
						v-on:click="toggleFilterOrTag('tag', tag.tag)"
						:class="tag.selected ? 'selected' : ''"
					>
						{{ tag.tag }}
					</div>
				</div>
			</div>
			<div class="filterContainerSection">
				<input
					class="filterInput"
					type="text"
					placeholder="Filter by type"
					v-model="typeFilter"
				>
				</input>
				<div id="tagsList" class="filterListUL">
					<div
						v-for="type in types | filterBy typeFilter"
						v-on:click="toggleFilterOrTag('type', type.tag)"
						:class="type.selected ? 'selected' : ''"
					>
						{{ type.tag }}
					</div>
				</div>
			</div>
		</div>
			<div class="taxSection">
					<span style="font-weight: 600">Calculate with taxes?</span>
					<label for="yesTax">Yes</label>
					<input id="yesTax" value="true" v-model="calcTax" type="radio"/>
					<label for="noTax">no</label>
					<input id="noTax" value="false" v-model="calcTax" type="radio"/>
			</div>
	</div>
</div>

<script src="scripts/browserCheck.js"></script>
<script src="scripts/main.js"></script>
